{% extends "base.html" %}

{% block title %}
<H1>{{ user.first_name }} {{ user.last_name }}</H1>
{% endblock %}

{% block content %}
<p>Email: {{ user.email }}</p>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-danger">Logout</button>
</form>

<br>

<div>
  {% if notes %}
  <h2>Notes</h2>
  <ul>
    {% for note in notes %}
    <li>
      <form>
        {{form.hidden_tag()}}
        <button
          formaction="/notes/{{ note.id }}/delete"
          formmethod="POST"
          class="btn btn-danger ">Delete</button>
        <button
          formaction="/notes/{{ note.id }}/update"
          formmethod="GET"
          class="btn btn-success">
          Update</button>
      </form>
      <b>{{ note.title }}:</b> {{ note.content }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<a class="btn btn-primary mb-2" href="/users/{{ user.username }}/notes/add">Add Note</a>
<br>
<form action="/users/{{ user.username }}/delete" method="POST">
  {{form.hidden_tag()}}
  <button class="btn btn-danger" type="submit">Delete User</button>
</form>

{% endblock %}